@import url('https://fonts.googleapis.com/css2?family=Outfit&display=swap');  

* {
    margin: 0;
    padding: 0;
}

/* CORPS DE LA PAGE */
body {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(212, 45%, 89%); 
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.content-code-qr {
    display: flex;
    align-items: center;
    justify-content: center;
}

/* CONTAINER CODE-QR EN FOND BLANC  */
.qr-code-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 30px;
    width: 310px;
    height: 480px;
}

/* IMAGE CODE-QR */
.qr-code-image img {
    display: inline-block;
    justify-content: center;
    align-items: center;
    margin-top: -25px;
    width: 290px;
    height: 290px;
    border-radius: 20px;
}

/* TITRE EN GRAS */
.content-title {
    margin-top: 20px;
    text-align: center;
    font-family: 'Outfit', sans-serif;
    max-width: 220px;
    font-weight: 700px;
    color: hsl(218, 44%, 22%); 
}

/* PARAGRAPHE */
.qr-code-image p {
    margin-top: 20px;
    font-size: 15px; /* Font size (paragraph): 15px */
    font-family: Arial, sans-serif;
    color: hsl(220, 15%, 55%);
    max-width: 245px; 
    text-align: center;
    font-weight: 400px;
}

.paragraphe {
    display: flex;
    align-items: center;
    justify-content: center;
}


@media only screen and (max-width: 375px) {
    body {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(212, 45%, 89%); 
    } 

    .qr-code-container { 
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: hsl(0, 0%, 100%);
        margin-top: 100px;
        border-radius: 30px;
        width: 310px;
        height: 470px;
    }
}
