* {
    margin: 0;
    padding: 0;
}

/* CORPS DE LA PAGE */
body {
    background-color: hsl(212, 45%, 89%);
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 150px;
}

/* .content-code-qr {}  */

/* CONTAINER CODE-QR EN FOND BLANC  */
.qr-code-container { 
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 25px;
    width: 310px;
    height: 470px;
}

/* .qr-code-image {}  */

/* IMAGE CODE-QR */
.qr-code-image img {
    margin-top: -40px;
    width: 290px;
    height: 290px;
    border-radius: 20px;
}

/* TITRE EN GRAS */
.content-title {
    margin-top: 10px;
    text-align: center;
    font-family: Arial, sans-serif;
    max-width: 255px;
    font-weight: 700px;
    color: hsl(218, 44%, 22%);
}

/* PARAGRAPHE */
.qr-code-image p {
    margin-top: 10px;
    font-size: 15px;
    font-family: Arial, sans-serif;
    color: hsl(220, 15%, 55%);
    max-width: 245px; 
    text-align: center;
    font-weight: 400px;
}